@import '@lark-apaas/client-toolkit/lib/index.css';
@import "tw-animate-css";
@import "./tailwind-theme.css";
@import "./typography.css";

@source "../../node_modules/streamdown/dist/*.js";
@config "../../tailwind.config.ts";

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
